
@media (min-width: 1000px) {
      .card-list{
        grid-template-columns: 1fr 1fr 1fr;
      }
}

@media (max-width: 999px) {
    .card-list{
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .card-list{
      grid-template-columns: 1fr ;
    }
}



.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
}